<tr>
  <td>
    <div class="activity">
      <span class="activity_content">
        <%= activity.content %>
      </span>
      <div class="timestamp">
        <span class="glyphicon glyphicon-calendar"></span>
        <%= t "time_ago", time: time_ago_in_words(activity.created_at) %>
      </div>
    </div>
  </td>
</tr>
